#@what should this be?
type sensors_exec, exec_type, file_type, system_file_type;
type sensors_prop, property_type;
#allow sensors init:unix_stream_socket connectto;
#allow sensors property_socket:sock_file write;
#allow sensors sensors_prop:property_service set;
